    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="login-form">
            <h4>{{title}}</h4>
            <div><label>Please, enter email!</label></div>
            <div class="input-group"><input class="form-control login-input" [(ngModel)]="model.Email" plaseholder="email"/></div>
            <div><label>Enter Reset Pasword Code!</label></div>
            <div class="input-group"><input class="form-control login-input" [(ngModel)]="model.Code" plaseholder="code"/></div>
            <div><label>Please, enter new password!</label></div>
            <div class="input-group"><input class="form-control login-input" type="password" [(ngModel)]="model.NewPassword" plaseholder="new password"/></div>
            <div><label>Please, enter confirm password!</label></div>
            <div class="input-group"><input class="form-control login-input" type="password" [(ngModel)]="model.ConfirmPassword" plaseholder="confirm password"/></div>
            <div class="login-btn"> <a class="btn btn-primary" (click)="resetPassword()">Submit</a></div>
			<div style="color:red">{{errorList}}</div>
            </div>
       </div>
    </div>