    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="login-form">
            <h4>{{title}}</h4>
            <div><label>Please, enter email!</label></div>
            <div class="input-group"><input class="form-control login-input" [(ngModel)]="model.Email" plaseholder="email"/></div>
            <div class="login-btn"> <a class="btn btn-primary" (click)="forgotPassword()">Submit</a></div>
            </div>
			<span style="color:red">{{errorList}}</span>
       </div>
    </div>