    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>{{title}}</h2>
            <div class="login-form">
                <div><label>Please, enter your login!</label></div>
                <div class="input-group"><input class="form-control login-input" [(ngModel)]="userCreds.Username" plaseholder="login"/></div>
                <div><label>Please, enter your password!</label></div>
                <div class="input-group"><input class="form-control login-input" type="password" [(ngModel)]="userCreds.Password" plaseholder="password"/></div>
                <div class="login-btn"> <a class="btn btn-primary" (click)="submitCreds()">Submit</a></div>
            </div>
			<span style="color:red">{{errorList}}</span>
       </div>
    </div>